# ==============================
# IDE - IntelliJ IDEA
# ==============================
.idea/
*.iml

# ==============================
# IDE - Eclipse
# ==============================
.metadata/
.settings/
.project
.classpath

# ==============================
# Java compilado
# ==============================
bin/
out/
target/
*.class

# ==============================
# Maven
# ==============================
.mvn/

# ==============================
# Gradle
# ==============================
.gradle/
build/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db